.home {
  width: '100%';
  overflow-x: auto;
}
.content {
  min-width: 650,
}
.pagination {
  display: flex;
  margin-left: 400%;
  .pre {
margin-left: 20px;
  }
}

.input {
  margin-left: 80%;
    width: 208px;
    margin-top: 1%;
}

.up-vote{
	width: 100%;
  height:12px;
  z-index: 2;
  overflow:hidden;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.down-vote{
	top: 7px;
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.arrow-container {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}